/* .property-details {
  padding: 20px;
  margin: 0;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.property-details-heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.property-details-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.property-details-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #3ce1c8;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.property-details-button:hover {
  background-color: #0e8573;
} */

.property-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.property-details {
  padding: 20px;
  margin: 0;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* min-height: 100vh; */
  /* Ensure it takes at least full height */
}

.property-details-heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.property-details-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.property-details-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #3ce1c8;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.property-details-button:hover {
  background-color: #0e8573;
}