.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 2em;
}

.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.fullscreen-image {
  border: 2px solid #fff;
  border-radius: 2em;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 20px;
}

.gallery-container button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.thumbnails-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail-image {
  width: 60px;
  height: 60px;
  border-radius: 1em;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail-image.selected {
  border: 2px solid #fff;
}

.thumbnail-image:not(.selected) {
  opacity: 0.5;
}

.thumbnail-image:hover:not(.selected) {
  border: 2px solid #000;
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .fullscreen-image {
    max-width: 90%;
  }

  .gallery-container button {
    font-size: 25px;
    padding: 8px;
  }

  .thumbnail-image {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .fullscreen-image {
    max-width: 80%;
  }

  .gallery-container button {
    font-size: 20px;
    padding: 6px;
  }

  .thumbnail-image {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .fullscreen-image {
    max-width: 100%;
  }

  .gallery-container button {
    font-size: 18px;
    padding: 6px;
  }

  .thumbnail-image {
    width: 35px;
    height: 35px;
  }
}